name: Flutter Linux Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.29.3"
          channel: "stable"
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y devscripts libgtk-3-dev libblkid-dev liblzma-dev libgcrypt20-dev
      - name: Get dependencies
        run: flutter pub get
      - name: Run tests
        run: flutter test
      - name: Build linux
        run: flutter build linux
      - name: Upload linux
        uses: actions/upload-artifact@v4
        with:
          name: linux
          path: build/linux/x64/release/bundle/*
